html, body {
  margin: 0;
  padding: 0;
  background-color: var(--body);
  font-family: Montserrat;
  font-size: 15px;
}

button {
  font-family: Montserrat;
  font-size: 15px;
  background: none;
  border: none;
  color: var(--text);
}